[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "d3Tree"]
	path = d3Tree
	url = https://github.com/yonicd/d3tree
[submodule "details"]
	path = details
	url = https://github.com/yonicd/details
[submodule "ggedit"]
	path = ggedit
	url = https://github.com/yonicd/ggedit
[submodule "jsTree"]
	path = jsTree
	url = https://github.com/yonicd/jstree
[submodule "regexSelect"]
	path = regexSelect
	url = https://github.com/yonicd/regexselect
[submodule "shinyHeatmaply"]
	path = shinyHeatmaply
	url = https://github.com/yonicd/shinyheatmaply
[submodule "sinew"]
	path = sinew
	url = https://github.com/yonicd/sinew
[submodule "texPreview"]
	path = texPreview
	url = https://github.com/yonicd/texpreview
[submodule "whereami"]
	path = whereami
	url = https://github.com/yonicd/whereami
